<main>
  <div class="px-8 py-24 mx-auto sm:px-6 md:px-4 lg:max-w-6xl lg:px-20">
    <div>
      <div>
        <div class="items-start mt-6 space-y-6">
          <div class="lg:max-w-md">
            <h1
              class="mt-24 text-3xl font-medium tracking-tight text-black lg:mt-0 font-display"
            >
              Bienvenido a Murcia Dev!
            </h1>
            <p class="mt-4 text-lg text-slate-500">
              Somos un grupo de entusiastas del desarrollo y las nuevas
              tecnologías. Nuestro objetivo es compartir nuestro conocimiento y
              pasión por este maravilloso mundo.
            </p>
          </div>
          <div class="">
            <h2
              class="text-2xl font-medium tracking-tight text-black sm:w-3/4 md:w-2/3 lg:w-auto"
            >
              Estamos muy activos!
            </h2>
            <div class="grid gap-3 lg:grid-cols-3 lg:grid-flow-row-dense">
              <div>
                <p class="mt-4 text-lg text-slate-500">
                  Nuestra comunidad en línea alrededor de nuestro servidor
                  Discord, pero también realizamos charlas, talleres y cualquier
                  tipo de evento relacionado sobre el desarrollo frontend,
                  backen y mobile.
                </p>
              </div>
              <div>
                <p class="mt-4 text-lg text-slate-500">
                  Si quieres estar al tanto de todas las novedades que hacemos y
                  estamos preparando, ¡tenemos una newsletter muy molona!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-3 pt-6 mt-10 text-center border-t">
        <a
          class="inline-flex items-center justify-center px-6 py-3 font-semibold text-white transition duration-500 ease-in-out transform rounded-full lg:px-12 group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-gradient-to-r from-red-500 to-red-800 hover:to-red-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900"
          href="https://discord.com/invite/c7CzDtc47U"
          >Únete
        </a>

        <a
          class="items-center justify-center px-6 py-3 font-semibold text-red-500 transition duration-500 ease-in-out transform bg-white border-2 border-red-500 rounded-full lg:px-12 iinline-flex hover:border-black focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 group-hover:text-black group-hover:via-red-500 0 focus-visible:outline-red-600"
          href="https://www.getrevue.co/profile/murciadev"
          >Suscríbete
        </a>
      </div>
    </div>
  </div>
</main>
