<section>
    <div>
        <div
    class="px-4 pb-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-3xl font-medium tracking-tight text-black sm:text-4xl">
          Si conoces alguna empresa más o puedes añadir algún dato sobre las que
          ya existen en el listado, anímate y actualiza la información.
        </h2>

        <a
          class="inline-flex items-center justify-center px-6 py-3 mt-8 font-semibold text-red-500 transition duration-500 ease-in-out transform bg-white border-2 border-red-500 rounded-full hover:border-black focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 group-hover:text-black group-hover:via-red-500 0 focus-visible:outline-red-600"
          href="https://github.com/MurciaDev/murcia-tech-hub/edit/main/companies.json"
        >
          Actualiza</a
        >
      </div>
    </div>
  </div>
    </div>
</section>