

<section
  aria-labelledby="marketplace"
  class="border-t"
  x-data="{
        selectedId: null,
        init() {
            // Set the first available tab on the page on page load.
            this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
        whichChild(el, parent) {
            return Array.from(parent.children).indexOf(el) + 1
        }
    }"
  x-id="['tab']"
>
  <!-- Tab List -->
  <div class="px-4 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20">
    <ul
      x-ref="tablist"
      @keydown.right.prevent.stop="$focus.wrap().next()"
      @keydown.home.prevent.stop="$focus.first()"
      @keydown.page-up.prevent.stop="$focus.first()"
      @keydown.left.prevent.stop="$focus.wrap().prev()"
      @keydown.end.prevent.stop="$focus.last()"
      @keydown.page-down.prevent.stop="$focus.last()"
      role="tablist"
      class="flex items-stretch -mb-px -mt-[2.85rem]"
    >
      <!-- Tab -->
      <li>
        <button
          :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
          @click="select($el.id)"
          @mousedown.prevent
          @focus="select($el.id)"
          type="button"
          :tabindex="isSelected($el.id) ? 0 : -1"
          :aria-selected="isSelected($el.id)"
          :class="isSelected($el.id) ? ' bg-white text-red-500' : 'border-transparent'"
          class="inline-flex px-5 py-2.5 border rounded-t-md border-b-0"
          role="tab"
        >
          Empresas de producto
        </button>
      </li>

      <li>
        <button
          :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
          @click="select($el.id)"
          @mousedown.prevent
          @focus="select($el.id)"
          type="button"
          :tabindex="isSelected($el.id) ? 0 : -1"
          :aria-selected="isSelected($el.id)"
          :class="isSelected($el.id) ? ' bg-white text-red-500' : 'border-transparent'"
          class="inline-flex px-5 py-2.5 border rounded-t-md border-b-0"
          role="tab"
        >
          Consultoras y agencias
        </button>
      </li>
    </ul>

    <!-- Panels -->
    <div role="tabpanels" class="py-24">
      <!-- Panel -->
      <section
        x-show.="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
      >
        <div class="flex flex-col mt-8">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full pb-12 align-middle md:px-6 lg:px-8"
            >
              <div class="overflow-hidden border rounded-lg">
                <table class="min-w-full divide-y divide-slate-200">
                  <thead class="bg-slate-100">
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-900 sm:pl-6"
                      >
                        Nombre
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Remoto
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Stack
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Ubicación
                      </th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Enlace</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white">
                    <!-- Odd row -->
                    <tr>
                      <td
                        class="py-4 pl-4 pr-3 text-sm font-medium text-slate-900 whitespace-nowrap sm:pl-6"
                      >
                        Bemyvega
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        Espinardo, Murcia
                      </td>
                      <td
                        class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6"
                      >
                        <a
                          href="https://www.google.com/maps/search/C.%20Francisco%20Flores%20Muelas,%2037,%2030100%20Espinardo,%20Murcia"
                          class="text-indigo-600 hover:text-indigo-900"
                          >Enlace<span class="sr-only">, Bemyvega</span></a
                        >
                      </td>
                    </tr>
                    <tr class="bg-slate-50">
                      <td
                        class="py-4 pl-4 pr-3 text-sm font-medium text-slate-900 whitespace-nowrap sm:pl-6"
                      >
                        Hop Ubiquitous
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        Ceutí
                      </td>
                      <td
                        class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6"
                      >
                        <a
                          href="https://www.google.com/maps/search/C.%20Luis%20Bu%C3%B1uel,%206,%2030562%20Ceut%C3%AD,%20Murcia"
                          class="text-indigo-600 hover:text-indigo-900"
                          >Enlace<span class="sr-only">, Ceutí</span></a
                        >
                      </td>
                    </tr>

                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        x-show.="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
      >
        <div class="flex flex-col mt-8">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full pb-12 align-middle md:px-6 lg:px-8"
            >
              <div class="overflow-hidden border rounded-lg">
                <table class="min-w-full divide-y divide-slate-200">
                  <thead class="bg-slate-100">
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-900 sm:pl-6"
                      >
                        Nombre
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Remoto
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Stack
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
                      >
                        Ubicación
                      </th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Enlace</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white">
                    <!-- Odd row -->
                    <tr>
                      <td
                        class="py-4 pl-4 pr-3 text-sm font-medium text-slate-900 whitespace-nowrap sm:pl-6"
                      >
                        Auna IT
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        No
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        Murcia
                      </td>
                      <td
                        class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6"
                      >
                        <a
                          href="https://www.google.com/maps/search/C.%20Central,%2017C,%2030100%20Murcia"
                          class="text-indigo-600 hover:text-indigo-900"
                          >Enlace<span class="sr-only">, Bemyvega</span></a
                        >
                      </td>
                    </tr>
                    <tr class="bg-slate-50">
                      <td
                        class="py-4 pl-4 pr-3 text-sm font-medium text-slate-900 whitespace-nowrap sm:pl-6"
                      >
                        Bitec
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        No
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        N/A
                      </td>
                      <td
                        class="px-3 py-4 text-sm text-slate-500 whitespace-nowrap"
                      >
                        Murcia
                      </td>
                      <td
                        class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6"
                      >
                        <a
                          href="https://www.google.com/maps/search/P.%C2%BA%20Joaqu%C3%ADn%20Garrigues%20Walker,%2014,%2030007%20Murcia"
                          class="text-indigo-600 hover:text-indigo-900"
                          >Enlace<span class="sr-only">, Ceutí</span></a
                        >
                      </td>
                    </tr>

                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
</section>
